@using Markdig
<div>
    <input type="text" @bind="@input" />
    <button @onclick="ExportText">ExportText</button>
    <div>@((MarkupString)outputTxt)</div>
</div>

@code {
    public string input { get; set; }
    public string outputTxt { get; set; }
    private void ExportText()
    {
        this.outputTxt = Markdown.ToHtml(this.input);
    }
}